# Flutter
frontend/.dart_tool/
frontend/.packages
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/*.iml
frontend/pubspec.lock

# Python
__pycache__/
*.pyc
*.pyo
.env
.venv
venv/
*.egg-info/
backend/runtime/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Temp files
*.log
*.tmp
backend/app/temp/

# Project specific
frontend/temp/
frontend/ngrok*
frontend/*.txt
